<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>
    <section class="features-block container">
        <div class="feature  feature--reverse">
            <img class="feature__image" src="../assets/images/static/i-mac.png" alt="تپسی پلاس">

            <div class="feature__content">
                <h2 class="feature__title">تپسی پلاس</h2>
                <p class="feature__description">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با 
                </p>
                <button class="btn btn--primary btn--small feature__button">ورود و ثبت مام پنل سازمانی</button>
            </div>
        </div>
        <div class="feature">
            <img class="feature__image" src="../assets/images/static/macbook.png" alt="خدمات تپسی برای کسب و کار ها">

            <div class="feature__content">
                <h2 class="feature__title">خدمات تپسی برای کسب و کار ها</h2>
                <p class="feature__description">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام 
                </p>
                <button class="btn btn--primary btn--small feature__button">خرید کد اعتبار و تخفیف</button>
            </div>
        </div>
    </section>    
</body>
</html>