<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
</head>
<body>
    <footer class="footer">
            <div class="footer-section">
                <div class="footer-section__item brand">
                    <a href="#">
                        <svg class="icon brand__icon">
                            <use xlink:href="../assets/images/icon/svg-sprite.svg#tapsi-logo-white"></use>
                        </svg>
                    </a>
                    <span class="brand__description">اپلیکیشن درخواست خودرو و پیک</span>
                    <span class="copyright">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</span>
                </div>
                <div class="footer-section__item">
                    <h3 class="footer-section__title">تپسی</h3>
                    <a href="#" class="footer__link">وبلاگ</a>
                    <a href="#" class="footer__link">فرصت شغلی</a>
                    <a href="#" class="footer__link">تماس با ما</a>
                    <a href="#" class="footer__link">لوگو و هویت سازمانی</a>
                </div>
                <div class="footer-section__item">
                    <h3 class="footer-section__title">مسافران</h3>
                    <a href="#" class="footer__link">دانلود اپ مسافران</a>
                    <a href="#" class="footer__link">نسخه وب تپسی</a>
                    <a href="#" class="footer__link">پرسش‌های متداول مسافران</a>
                    <a href="#" class="footer__link">باشگاه مشتریان</a>
                </div>
                <div class="footer-section__item">
                    <h3 class="footer-section__title">رانندگان</h3>
                    <a href="#" class="footer__link">ثبت نام راننده تاکسی اینترنتی</a>
                    <a href="#" class="footer__link">دانلود اپ سفیر</a>
                    <a href="#" class="footer__link">پرسش‌های متداول سفیران</a>
                    <a href="#" class="footer__link">باشگاه سفیران</a>
                </div>
                <div class="footer-section__item">
                    <h3 class="footer-section__title">کسب و کارها</h3>
                    <a href="#" class="footer__link">پنل سازمانی تپسی</a>
                    <a href="#" class="footer__link">خرید کد اعتبار و تخفیف</a>
                    <a href="#" class="footer__link">دریافت API</a>
                    <a href="#" class="footer__link">شرایط و قوانین</a>
                </div>
                <div class="footer-section__item trust">
                    <span class="trust__item"><img src="../assets/images/icon/static/etehadiye.png" alt=""></span>
                    <span class="trust__item"><img src="../assets/images/icon/static/samandehi.png" alt=""></span>
                    <span class="trust__item"><img src="../assets/images/icon/static/enamad.png" alt=""></span>
                </div>
            </div>
            <div class="footer-social">
                <h3 class="footer-social__title">تپسی در شبکه‌های اجتماعی </h3>
                <span class="copyright-mobile">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</span>
                <div class="footer-social__links">
                    <a href="#" class="footer__link"><span class="fab fa-facebook-f"/></a>
                    <a href="#" class="footer__link"><span class="fab fa-instagram"/></a>
                    <a href="#" class="footer__link"><span class="fab fa-twitter"/></a>
                    <a href="#" class="footer__link"><span class="fab fa-linkedin-in"/></a>
                    <a href="#" class="footer__link"><span class="fab fa-telegram-plane"/></a>
                </div>
            </div>
    </footer>
</body>
</html>