<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plans</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>
<section class="plan-block">
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <div class="plan__type">
                    <span class="type">ویژه</span>
                    <span class="badge badge--secondary">10% تخفیف</span>
                </div>
                <div class="plan__price">
                    <span class="price__amount">390.000</span>
                    <span class="price__unit">ماهانه / تومان</span>
                </div>
                <div class="plan__title">عنوان سرویس</div>
            </header>
            <div class="card__body">
                <ul class="list list--checked">
                    <li class="list__item">آیتم اول</li>
                    <li class="list__item">آیتم دوم</li>
                    <li class="list__item">آیتم سوم</li>
                </ul>
                <button class="btn btn--secondary btn--block">ثبت سفارش</button>
            </div>
        </div>
    </div>
    <div class="plan plan--recommended">
        <div class="card card--primary">
            <header class="card__header">
                <div class="plan__type">
                    <span class="type">اقتصادی</span>
                    <span class="badge badge--primary">10% تخفیف</span>
                </div>
                <div class="plan__price">
                    <span class="price__amount">390.000</span>
                    <span class="price__unit">ماهانه / تومان</span>
                </div>
                <div class="plan__title">عنوان سرویس</div>
            </header>
            <div class="card__body">
                <ul class="list list--checked">
                    <li class="list__item">آیتم اول</li>
                    <li class="list__item">آیتم دوم</li>
                    <li class="list__item">آیتم سوم</li>
                </ul>
                <button class="btn btn--primary btn--block">ثبت سفارش</button>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <div class="plan__type">
                    <span class="type">ویژه</span>
                    <span class="badge badge--secondary">10% تخفیف</span>
                </div>
                <div class="plan__price">
                    <span class="price__amount">390.000</span>
                    <span class="price__unit">ماهانه / تومان</span>
                </div>
                <div class="plan__title">عنوان سرویس</div>
            </header>
            <div class="card__body">
                <ul class="list list--checked">
                    <li class="list__item">آیتم اول</li>
                    <li class="list__item">آیتم دوم</li>
                    <li class="list__item">آیتم سوم</li>
                </ul>
                <button class="btn btn--secondary btn--block">ثبت سفارش</button>
            </div>
        </div>
    </div>
</section>
</body>
</html>