<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>
    <section class="travels-block container">
        <h2 class="travels__title">جوایز ویژه</h2>
        <div class="travels">
            <div class="travel">
                <img class="travel__image" src="../assets/images/static/travel.jpg" alt=""/>
                <div class="travel__content">
                    <div class="travel-meta">
                        <span class="travel-meta__special badge badge--primary">ویژه</span>
                        <span class="travel-meta__type">اقامت رایگان</span>
                        <espan class="travel-meta__divider"></espan>
                        <span class="travel-meta__time">سفر 3 روزه</span>
                    </div>
                    <h4 class="travel-title">سفر به قلب کویر لوت</h4>
                    <div class="travel-actions">
                        <div class="travel-actions__view">
                            <span class="favorites">
                                <svg class="favorites__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#favorite"></use>
                                </svg>
                                <span class="favorites__value">۱۲</span>
                            </span>
                            <span class="view">
                                <svg class="view__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#eye"></use>
                                </svg>
                                <span class="view__value">۴۶</span>
                            </span>
                        </div>
                        <div class="travel-actions__clickable">
                            <span class="create">
                                <svg class="create__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#create"></use>
                                </svg>
                            </span>
                            <span class="delete">
                                <svg class="delete__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#delete"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel">
                <img class="travel__image" src="../assets/images/static/travel.jpg" alt=""/>
                <div class="travel__content">
                    <div class="travel-meta">
                        <span class="travel-meta__special badge badge--primary">ویژه</span>
                        <span class="travel-meta__type">اقامت رایگان</span>
                        <espan class="travel-meta__divider"></espan>
                        <span class="travel-meta__time">سفر 3 روزه</span>
                    </div>
                    <h4 class="travel-title">سفر به قلب کویر لوت</h4>
                    <div class="travel-actions">
                        <div class="travel-actions__view">
                            <span class="favorites">
                                <svg class="favorites__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#favorite"></use>
                                </svg>
                                <span class="favorites__value">۱۲</span>
                            </span>
                            <span class="view">
                                <svg class="view__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#eye"></use>
                                </svg>
                                <span class="view__value">۴۶</span>
                            </span>
                        </div>
                        <div class="travel-actions__clickable">
                            <span class="create">
                                <svg class="create__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#create"></use>
                                </svg>
                            </span>
                            <span class="delete">
                                <svg class="delete__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#delete"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel">
                <img class="travel__image" src="../assets/images/static/travel.jpg" alt=""/>
                <div class="travel__content">
                    <div class="travel-meta">
                        <span class="travel-meta__special badge badge--primary">ویژه</span>
                        <span class="travel-meta__type">اقامت رایگان</span>
                        <espan class="travel-meta__divider"></espan>
                        <span class="travel-meta__time">سفر 3 روزه</span>
                    </div>
                    <h4 class="travel-title">سفر به قلب کویر لوت</h4>
                    <div class="travel-actions">
                        <div class="travel-actions__view">
                            <span class="favorites">
                                <svg class="favorites__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#favorite"></use>
                                </svg>
                                <span class="favorites__value">۱۲</span>
                            </span>
                            <span class="view">
                                <svg class="view__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#eye"></use>
                                </svg>
                                <span class="view__value">۴۶</span>
                            </span>
                        </div>
                        <div class="travel-actions__clickable">
                            <span class="create">
                                <svg class="create__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#create"></use>
                                </svg>
                            </span>
                            <span class="delete">
                                <svg class="delete__icon icon">
                                    <use xlink:href="../assets/images/icon/svg-sprite.svg#delete"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>                  
        </div>
    </section>    
</body>
</html>