
@media screen and (min-width: 1024px) {
    /* General
    ===========*/    
    body{font-size: 1.8rem;}
    h1{font-size: 5rem;}
    h2{font-size: 3.5rem;}

    /* Button
    ==========*/
    .btn{font-size: 1.6rem;}
    .btn--block{font-size: 2rem;}

    /* Badge
    ==========*/
    .badge{font-size: 1.4rem;}

    /* List
    ======== */
    .list{
        font-size: 1.8rem;
    } 
    
    /* Features Section
    ====================*/
    .feature{
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        gap: 5rem;
    }

    .feature--reverse .feature__content{
        order: 1;
    }
    .feature--reverse .feature__image{
        order: 2;
    }
    .feature__image{
        width: auto;
    }
    
}
