
@media screen and (min-width: 1024px) {
    /* General
    ===========*/    
    body{font-size: 1.8rem;}
    h1{font-size: 5rem;}
    h2{font-size: 3.5rem;}

    /* Button
    ==========*/
    .btn{font-size: 1.6rem;}
    .btn--block{font-size: 2rem;}

    /* Badge
    ==========*/
    .badge{font-size: 1.4rem;}

    /* List
    ======== */
    .list{
        font-size: 1.8rem;
    } 
    
    /* Features Section
    ====================*/
    .feature{
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        gap: 5rem;
    }

    .feature--reverse .feature__content{
        order: 1;
    }
    .feature--reverse .feature__image{
        order: 2;
    }
    .feature__image{
        width: auto;
    }

    /* Contact Section
    ====================*/
    .contactus{
        display: grid;
        grid-template-columns: 60fr 40fr;
        grid-template-areas:
        "method form"
        "map form"
        "social form";
        gap: 2rem 5rem;
    }
    
    .contactus__method{
        grid-area: method;
        flex-direction: row;
    }
    
    .method__item{
        flex-direction: column;
        flex: 1 1;
        
    }
    
    .contactus__map{
        grid-area: map;
        display: block;
    }

    .contactus__map img{
        width: 100%;
    }

    .contactus__social{
        grid-area: social;
        justify-content: flex-end ;
    }
    
    .contactus__form{
        grid-area: form;
    }

    /* Footer Section
    ====================*/
    .footer{
        padding: 5% 8%;
    }

    .footer-section{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;
        align-items: flex-start;

    }
    .footer-section__item.brand{
        width: 15%;
    }
    .copyright{
        display: block;
    }

    .footer__link{
        font-size: 1.4rem;
    }    

    .footer-social__title{
        display: block;
    }
    
    .footer-social{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-social__links{
        justify-content: flex-start;
        gap: 1.2rem;
    }
    
    .footer-social__links .footer__link {
        font-size: 2.5rem;
    }    

    .copyright-mobile{
        display: none;
    }
}
