/* Reset
=========*/
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* General
===========*/
:root{
    --color-primary: #ff5722;
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-black: #000000;
    --color-heading: var(--color-black);
    --color-text: #333333;
    --color-white: #ffffff;
    --color-bg: #f5f5f5;
    --color-border:#e8e8e8;
    --color-mute-light:#cacaca;
    --color-mute:#acacac;
    --color-mute-dark: #7B7B7B;
    --color-navy-blue:#4d4d4d;
    --avatar-lg-size: 150px;
    --avatar-md-size: 100px;
    --avatar-sm-size: 50px;
}

html{
    direction: rtl;

    font-size: 62.5%;
}

body{
    color: var(--color-text);
    font-size: 1.4rem;
}

h1, h2{
    color: var(--color-heading)
}

h1{font-size: 2.5rem;}
h2{font-size: 2.2rem;}

.container{
    max-width: 1140px;
    margin: 5rem auto;
}

/* Button
==========*/
.btn{
    outline: none;
    border: none;
    padding:2rem 2.5rem;
    margin: 1rem 0;
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--secondary{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block{
    width: 100%;
}

.btn--small{
    padding: 1.2rem 2.5rem;
}

.btn--round{
    border-radius: 3.5rem;
    padding: 1.2rem 3.5rem;
}

.btn--white{
    background-color: var(--color-white);
    color: var(--color-navy-blue);
}

.btn--outline{
    background: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn--icon{
    display: flex;
    gap: 2rem
}

.btn__icon{
    width: 2.5rem;
    height: 2.5rem;
}

/* Input and Textarea
=======================*/
.form-control{
    background-color: var(--color-bg);
    outline: none;
    border: 1px solid var(--color-border);
    padding: 1.3rem 1.5rem;
    margin: 4.5rem auto;
}

input{
    border-radius: 39px;
}

.input--block{
    display: block;
    width: 100%;
}

/* Icon
========= */
.icon-container{
    background: var(--color-bg);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.icon{
    color: #ff5722;
    width: 2.5rem;
    height: 2.5rem;
}

/* Badge
========= */
.badge{
    padding: .5rem 1.5rem;
    border-radius: 32px;
    font-size: 1.2rem;
    margin: 1rem 0;
    display: inline-block;
    white-space: nowrap;
    border: 2px solid;
}

.badge--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.badge--secondary{
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

/* List
======== */
.list{
    font-size: 1.6rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-left: 1rem;
}

.list--checked{
 margin: 1rem 0 4rem;
}

.list--checked .list__item{
margin-bottom: 1rem;
}

/* Psudo Element
=================*/
.list--checked .list__item::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 2.8rem;
}

/* List Style Image
====================*/
/* .list--checked .list__item{
    list-style-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    list-style-position: inside;
    padding-right: 3rem;

} */

/* List Background Image
=========================*/
/* .list--checked .list__item {
    background-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 3rem;

}  */

/* Plans Section
=================*/

.plan-block{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    gap: 5rem 8rem;
    margin: 5rem 2rem 2rem;
}

.plan{
    font-size: 1.8rem;
    transition: transform .2s ease-in-out;
}

.plan:hover{
    transform: scale(1.02);
}

.plan--recommended{
    transform: scale(1.05);
}

.plan--recommended:hover{
    transform: scale(1.07);
}
.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .2);
}

.card--primary .card__header{
    background-color: var(--color-primary);
}

.card--secondary .card__header{
    background-color: var(--color-secondary-dark);
}

.card__header,
.card__body{
    padding: 3rem 2.5rem ;
}

.card__header{
    color: var(--color-white);
}

.plan__type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__amount{
    font-size: 3rem;
}

.price__unit{
    font-size: 1.4rem;
}

.plan__title{
    font-size: 2rem;
}
.card__body{
    background-color: var(--color-secondary-light);
}

/* Features Section
====================*/

.features-block{
    padding: 8rem 1.5rem 5rem;
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.feature{
    display: grid;
    justify-items: center;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.feature__image{
    width: 95%;
}


.feature__description{
    margin: 1rem 0 2rem;
    line-height: 2.8rem;
}

/* Contact Section
====================*/
.contactus-block{
    padding: 5rem 2rem;
}

.contact__title{
    text-align: center;
    font-size: 3.5rem;
}

.contact__description{
    text-align: center;
    font-size: 2.8rem;
    margin: 3rem 0 4.7rem ;
}

.contactus__method{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 7.8rem;
}

.method__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem
}

.contactus__map{
    display: none;
}

.contactus__social{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 3.4rem;
    margin-bottom: 9.2rem;
    gap: 2rem;
}
.social__link{
    color: var(--color-primary);
}


.contactus__form{
    border-radius: 20px;
    border: 1px solid var(--color-border);
    padding: 5.5rem 4.9rem;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, .1);

}

.form__title{
    font-size: 2rem;
    text-align: center;
}

/* Footer Section
====================*/
.footer{
    background-color: var(--color-black);
    padding: 1.5rem;
    line-height: 3rem;
}

.footer-section__item:not(.trust){
    display: flex;
    flex-direction: column;
}

.footer-section__item{
    margin: 3rem 0;
    color: var(--color-white);
}

.footer-section__title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.brand{
    font-size: 1.2rem;
}

.brand__icon{
    width: 140px;
    height: 30px;
    margin-bottom: 1.5rem;
}

.copyright{
    display: none;
}

.footer__link{
    color: var(--color-white);
    text-decoration: none;
    display: inline;
}

.footer__link:hover{
    color: var(--color-primary);
}
.trust{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.trust__item > img{
    height: 120px;
}

.trust__item{
    background-color: var(--color-white);
    border-radius: 12px;
    padding: .5rem 0;
    
}
.footer-social__links{
    display: flex;
    font-size: 2.5rem;
    justify-content: space-around;
}
.footer-social__links > a:hover{
    color: var(--color-secondary-dark);

}
.footer-social__title{
    font-size: 1.4rem;
    color: var(--color-white);
    display: none;
    margin-bottom: 1rem;
}

.copyright-mobile, .copyright, .footer-social__links{
    color: var(--color-mute);
}
.copyright-mobile{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

/* Navbar Section
====================*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: var(--color-navbar);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    caret-color: transparent;
    border-bottom: 1px solid var(--color-border);
    z-index: 999;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 3rem;

}

.nav__menu .menu{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    overflow: hidden;
    width: 100%;

}

.nav__menu .menu--open{
    display: flex;
    position: absolute;
    right: 0;
    top:60px;
    background-color: var(--color-white);
    width: 100%;
    padding: 1.5rem;
}

.menu__item .menu__link{
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.5rem;
}

.menu__item .menu__link:hover{
    color: var(--color-primary);
}

.menu__item:last-child{
    display: none;
}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.hamburger .bar{
    background-color: var(--color-black);
    height: 3px;
    width: 25px;
    margin: 2px 0;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.hamburger--open .bar--one{
    transform: rotate(-45deg) translate(-9px, 6px);
    margin: 6px 0;
}

.hamburger--open .bar--two{
    transform: translate(-20px);
    opacity: 0;
}
.hamburger--open .bar--three{
    transform: rotate(45deg) translate(-8px, -8px);
    margin: 6px 0;

}

/* Hero Section
====================*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.hero-wrapper{
    margin-top: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mockup-img{
    display: none;
}

.hero__picture{
    width: 100%;
}

.hero__picture .banner-img{
    width: 100%;
    height: 478px;
    object-fit: cover;
}

.hero__content{
    /* position: absolute; */
    background: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
    padding: 3rem;
    border-radius: 2rem;
}

.hero__content .title{
    font-size: 2.5rem;
    color: var(--color-white);
}

.hero__content .sub-title{
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 3rem;
}

.btn-container{
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: 1fr 1fr; */
}

.btn-container .btn{
    margin: 0;
}

/* Services Tab Section
========================*/
.services{
    margin: 6rem 15px;

}

.services__title{
    margin: 3rem 0;
}

.services__tabs{
    display: flex;
    gap: 1rem;
    overflow: auto;
    padding: 2rem 0;

}

.tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
}

.tab__icon{
    width: 80px;
    opacity: .4;
    transition: all .2s ease-in-out;
}

.tab__title{
    white-space: nowrap;
    font-size: 1.4rem;
    margin-top: 13px;
}

.tab:hover .tab__icon{
    opacity: 1;
}

.tab.active .tab__icon{
    opacity: 1;
}

/* .services__contents{
    display: flex;
} */

/* .tab-pane{ display: flex;} */

.tab-pane{ 
    /* margin: 15px ; */
    display: none;
}
.tab-pane.in{ 
    display: flex;
}
.tab-pane__image{
    display: none;
}

.services__contents{
    margin: 3rem 0;
}

.tab-pane__content .title{
    font-size: 1.6rem;
    margin:10px 0;
}
.tab-pane__content .description{
    font-size: 1.4rem;
    line-height: 3.2rem;
}

/* Travels Section
====================*/
.travels-block{
    padding: 1.5rem;
}

.travels__title{
    font-size: 3.5rem;
    margin:15px 15px 5rem 15px;
}

.travels{
    display: flex;
    gap:2rem;
    overflow: auto;
}

.travel{
    display: flex;
    flex-direction: column

}
.travel__image img, .travel__content{
    border-radius: 3.2rem;
}

.travel__image{
    width: 335px;
    height: 236px;
}

.travel__image img{
    width: 100%;
    height: 100%;
}

.travel__content{
    width: 75%;
    margin: auto;
    background-color: var(--color-white);
    padding: 1.5rem 2.5rem;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,.29);
    position: relative;
    top: -7rem;
    
}

.travel-meta, .travel-actions{
    display: flex;
    align-items: center;
}

.travel-meta__special{
    padding: 0px 1rem;
    font-size: 1.2rem;
    margin-left: 5px;
}

.travel-meta__type,
.travel-meta__time,
.favorites__value,
.view__value{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-mute-dark);
}

.travel-meta__divider{
    background-color: var(--color-mute-dark);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    margin: auto 5px;
}

.travel-title{
    font-size: 1.4rem;
    font-weight: 800;
    margin: .5rem auto 1.5rem;
}
.travel-actions{
    justify-content: space-between;
}

.travel-actions__view{
    display: flex;
    align-items: center;
    gap: 10px;
}

.travel-actions__clickable{
    display: flex;
    gap: 1rem;
}

.travel-actions__view .view,
.travel-actions__view .favorites{
    display: flex;
    align-items: center;
    gap: 5px;
}

.favorites__icon{
    width: 1.23rem;

}
.view__icon{
    width: 1.42rem;
 
}

.favorites__value,
.view__value{
    color: var(--color-mute-light);
    font-size: 1.5rem;
}

.create__icon,
.delete__icon{
    width: 1.52rem;
    cursor: pointer;
    caret-color: transparent
}

/* Accordion Section
====================*/
.accordion-block{
    box-shadow: 0 9px 12px rgba(0,0,0,.05);
    border: 2px solid var(--color-border);
    border-radius: 1rem;
    margin: 3rem 1.5rem 6rem;
}

.accordion__action{
    color: var(--color-primary);
    font-size: 1.4rem;
    cursor: pointer;
}

.accordion__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--color-border);
}

.accordion__intro .accordion__title{
    cursor:default
}
.accordion__heading{
    font-size: 1.8rem;
}
.accordion:last-child:not(.accordion--expanded) .accordion__title{
    border-bottom: none;
}

 .accordion__icon{
     transition: all .2s ease-out;
     caret-color: transparent;
     color: var(--color-primary);
     font-size: 1.6rem;
 }
.accordion--expanded .accordion__icon{
    transform: rotate(-180deg);
}

.accordion__content{
    max-height: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out, max-height .3s;
    overflow: hidden;    
}
.accordion__content .paragraph{
    margin: 1.5rem 2rem;
}
.accordion--expanded .accordion__content{
    max-height: 100vh;
    opacity: 1;
    border-bottom: 1px solid var(--color-border);
}
.accordion--expanded:last-child .accordion__content{
    border-bottom: none;
}

/* Avatar
===========*/
.avatar-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.avatar{
    background-color: var(--color-white);
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    transition: all .25s ease-in-out;
}
.avatar:not(.avatar--more){
    cursor: pointer;
}
.avatar:not(.avatar--more):hover{
    transform: translateX(5px);
}

.avatar-group--lg .avatar{
    width: var(--avatar-lg-size);
    height: var(--avatar-lg-size);
    border: 5px solid var(--color-white);
    margin-left: -4rem;
}

.avatar-group--md .avatar{
    width: var(--avatar-md-size);
    height: var(--avatar-md-size);
    border: 3px solid var(--color-white);
    margin-left: -3rem;
}

.avatar-group--sm .avatar{
    width: var(--avatar-sm-size);
    height: var(--avatar-sm-size);
    border: 3px solid var(--color-white);
    margin-left: -1.5rem;
}
.avatar--more{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    caret-color: transparent;

}
.avatar img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}