/* Reset
=========*/
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* General
===========*/
:root{
    --color-primary: #ff5722;
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-black: #000000;
    --color-heading: var(--color-black);
    --color-text: #333333;
    --color-white: #ffffff;
}

html{
    direction: rtl;

    font-size: 62.5%;
}

body{
    color: var(--color-text);
    font-size: 1.4rem;
}

h1, h2{
    color: var(--color-heading)
}

h1{font-size: 2.5rem;}
h2{font-size: 2.2rem;}

/* Button
==========*/
.btn{
    outline: none;
    border: none;
    padding:2rem 2.5rem;
    margin: 1rem 0;
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--secondary{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block{
    width: 100%;
}

/* Badge
========= */
.badge{
    padding: .5rem 1.5rem;
    border-radius: 32px;
    font-size: 1.2rem;
    margin: 1rem 0;
    display: inline-block;
    white-space: nowrap;
    border: 2px solid;
}

.badge--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.badge--secondary{
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

/* List
======== */
.list{
    font-size: 1.6rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-left: 1rem;
}

.list--checked{
 margin: 1rem 0 4rem;
}

.list--checked .list__item{
margin-bottom: 1rem;
}

/* Psudo Element
=================*/
.list--checked .list__item::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 2.8rem;
}

/* List Style Image
====================*/
/* .list--checked .list__item{
    list-style-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    list-style-position: inside;
    padding-right: 3rem;

} */

/* List Background Image
=========================*/
/* .list--checked .list__item {
    background-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 3rem;

}  */

/* Plans Section
================*/

.plan-block{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    gap: 5rem 8rem;
    margin: 5rem 2rem 2rem;
}

.plan{
    font-size: 1.8rem;
    transition: transform .2s ease-in-out;
}

.plan:hover{
    transform: scale(1.02);
}

.plan--recommended{
    transform: scale(1.05);
}

.plan--recommended:hover{
    transform: scale(1.07);
}
.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .2);
}

.card--primary .card__header{
    background-color: var(--color-primary);
}

.card--secondary .card__header{
    background-color: var(--color-secondary-dark);
}

.card__header,
.card__body{
    padding: 3rem 2.5rem ;
}

.card__header{
    color: var(--color-white);
}

.plan__type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__amount{
    font-size: 3rem;
}

.price__unit{
    font-size: 1.4rem;
}

.plan__title{
    font-size: 2rem;
}
.card__body{
    background-color: var(--color-secondary-light);
}
