/* Reset
=========*/
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* General
===========*/
:root{
    --color-primary: #ff5722;
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-black: #000000;
    --color-heading: var(--color-black);
    --color-text: #333333;
    --color-white: #ffffff;
    --color-bg: #f5f5f5;
    --color-border:#e8e8e8;
    --color-mute:#acacac;
    --color-navy-blue:#4d4d4d;
}

html{
    direction: rtl;

    font-size: 62.5%;
}

body{
    color: var(--color-text);
    font-size: 1.4rem;
}

h1, h2{
    color: var(--color-heading)
}

h1{font-size: 2.5rem;}
h2{font-size: 2.2rem;}

.container{
    max-width: 1140px;
    margin: 5rem auto;
}

/* Button
==========*/
.btn{
    outline: none;
    border: none;
    padding:2rem 2.5rem;
    margin: 1rem 0;
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--secondary{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block{
    width: 100%;
}

.btn--small{
    padding: 1.2rem 2.5rem;
}

.btn--round{
    border-radius: 3.5rem;
    padding: 1.2rem 3.5rem;
}

.btn--white{
    background-color: var(--color-white);
    color: var(--color-navy-blue);
}

.btn--outline{
    background: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn--icon{
    display: flex;
    gap: 2rem
}

.btn__icon{
    width: 2.5rem;
    height: 2.5rem;
}

/* Input and Textarea
=======================*/
.form-control{
    background-color: var(--color-bg);
    outline: none;
    border: 1px solid var(--color-border);
    padding: 1.3rem 1.5rem;
    margin: 4.5rem auto;
}

input{
    border-radius: 39px;
}

.input--block{
    display: block;
    width: 100%;
}

/* Icon
========= */
.icon-container{
    background: var(--color-bg);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.icon{
    color: #ff5722;
    width: 2.5rem;
    height: 2.5rem;
}

/* Badge
========= */
.badge{
    padding: .5rem 1.5rem;
    border-radius: 32px;
    font-size: 1.2rem;
    margin: 1rem 0;
    display: inline-block;
    white-space: nowrap;
    border: 2px solid;
}

.badge--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.badge--secondary{
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

/* List
======== */
.list{
    font-size: 1.6rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-left: 1rem;
}

.list--checked{
 margin: 1rem 0 4rem;
}

.list--checked .list__item{
margin-bottom: 1rem;
}

/* Psudo Element
=================*/
.list--checked .list__item::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 2.8rem;
}

/* List Style Image
====================*/
/* .list--checked .list__item{
    list-style-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    list-style-position: inside;
    padding-right: 3rem;

} */

/* List Background Image
=========================*/
/* .list--checked .list__item {
    background-image: url(../assets/images/icon/check-mark-correct-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 3rem;

}  */

/* Plans Section
=================*/

.plan-block{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    gap: 5rem 8rem;
    margin: 5rem 2rem 2rem;
}

.plan{
    font-size: 1.8rem;
    transition: transform .2s ease-in-out;
}

.plan:hover{
    transform: scale(1.02);
}

.plan--recommended{
    transform: scale(1.05);
}

.plan--recommended:hover{
    transform: scale(1.07);
}
.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .2);
}

.card--primary .card__header{
    background-color: var(--color-primary);
}

.card--secondary .card__header{
    background-color: var(--color-secondary-dark);
}

.card__header,
.card__body{
    padding: 3rem 2.5rem ;
}

.card__header{
    color: var(--color-white);
}

.plan__type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__amount{
    font-size: 3rem;
}

.price__unit{
    font-size: 1.4rem;
}

.plan__title{
    font-size: 2rem;
}
.card__body{
    background-color: var(--color-secondary-light);
}

/* Features Section
====================*/
.feature{
    display: grid;
    justify-items: center;
    align-items: flex-end;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.feature__image{
    width: 327px;
}


.feature__description{
    margin: 1rem 0 2rem;
    line-height: 2.8rem;
}

/* Contact Section
====================*/
.contactus-block{
    padding: 2rem;
}

.contact__title{
    text-align: center;
    font-size: 3.5rem;
}

.contact__description{
    text-align: center;
    font-size: 2.8rem;
    margin: 3rem 0 4.7rem ;
}

.contactus__method{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 7.8rem;
}

.method__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem
}

.contactus__map{
    display: none;
}

.contactus__social{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 3.4rem;
    margin-bottom: 9.2rem;
    gap: 2rem;
}
.social__link{
    color: var(--color-primary);
}


.contactus__form{
    border-radius: 20px;
    border: 1px solid var(--color-border);
    padding: 5.5rem 4.9rem;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, .1);

}

.form__title{
    font-size: 2rem;
    text-align: center;
}

/* Footer Section
====================*/
.footer{
    background-color: var(--color-black);
    padding: 1.5rem;
    line-height: 3rem;
}

.footer-section__item:not(.trust){
    display: flex;
    flex-direction: column;
}

.footer-section__item{
    margin: 3rem 0;
    color: var(--color-white);
}

.footer-section__title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.brand{
    font-size: 1.2rem;
}

.brand__icon{
    width: 140px;
    height: 30px;
    margin-bottom: 1.5rem;
}

.copyright{
    display: none;
}

.footer__link{
    color: var(--color-white);
    text-decoration: none;
    display: inline;
}

.footer__link:hover{
    color: var(--color-primary);
}
.trust{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.trust__item > img{
    height: 120px;
}

.trust__item{
    background-color: var(--color-white);
    border-radius: 12px;
    padding: .5rem 0;
    
}
.footer-social__links{
    display: flex;
    font-size: 2.5rem;
    justify-content: space-around;
}
.footer-social__links > a:hover{
    color: var(--color-secondary-dark);

}
.footer-social__title{
    font-size: 1.4rem;
    color: var(--color-white);
    display: none;
    margin-bottom: 1rem;
}

.copyright-mobile, .copyright, .footer-social__links{
    color: var(--color-mute);
}
.copyright-mobile{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

/* Navbar Section
====================*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: var(--color-navbar);
    position: fixed;
    width: 100%;
    height: 60px;
    caret-color: transparent;
    border-bottom: 1px solid var(--color-border)
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 3rem;

}

.nav__menu .menu{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    overflow: hidden;
    width: 100%;

}

.nav__menu .menu--open{
    display: flex;
    position: absolute;
    right: 0;
    top:60px;
    background-color: var(--color-white);
    width: 100%;
    padding: 1.5rem;
}

.menu__item .menu__link{
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.5rem;
}

.menu__item .menu__link:hover{
    color: var(--color-primary);
}

.menu__item:last-child{
    display: none;
}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.hamburger .bar{
    background-color: var(--color-black);
    height: 3px;
    width: 25px;
    margin: 2px 0;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.hamburger--open .bar--one{
    transform: rotate(-45deg) translate(-9px, 6px);
    margin: 6px 0;
}

.hamburger--open .bar--two{
    transform: translate(-20px);
    opacity: 0;
}
.hamburger--open .bar--three{
    transform: rotate(45deg) translate(-8px, -8px);
    margin: 6px 0;

}

/* Hero Section
====================*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hero__mockup{
    display: none;
}

.hero__picture{
    width: 100%;
}

.hero__picture .banner-img{
    width: 100%;
    height: 478px;
    object-fit: cover;
}

.hero__content{
    /* position: absolute; */
    background: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
    padding: 3rem;
    border-radius: 2rem;
}

.hero__content .title{
    font-size: 2.5rem;
    color: var(--color-white);
}

.hero__content .sub-title{
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 3rem;
}

.btn-container{
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: 1fr 1fr; */
}

.btn-container .btn{
    margin: 0;
}

